/* main section */
.meeting-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 8fr 3fr;
}

.teachers-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    padding: 15px 15px 15px 0px;
}


/* mobile version */
@media screen and (max-width: 480px) {
    .teachers-container{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
    }
    .meeting-container{
        display: block;
    }
}